<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CrowdedZone</name>
    <description>
        To know how many people are in one place at now, how many have been there in the past, and if you have shared places with infected people.
    </description>
    <author email="mirco.soderi@gmail.com" href="https://www.linkedin.com/in/mirco-soderi-3b470525/">
        Mirco Soderi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
